<div class="row">
	<div class="col-md-12">
		<table class="table table-bordered table-hover" width="100%">
			<thead>
				<tr>
					<th width="160px">Operator</th>
					<th width="160px">Call date</th>
					<th width="160px">Call duration</th>
					<th width="160px">Status</th>
					<th>Comments</th>
					<th width="160px">Callback</th>
				</tr>
			</thead>
			<tbody>
			<% history.forEach(function(row) { %>
				<tr>
					<td><%= row.operator %></td>
					<td><%= row.call_date_start %></td>
					<td><%= row.call_duration %></td>
					<td><%= row.status %></td>
					<td><%= row.comments %></td>
					<td><%= row.callback_date %></td>
				</tr>
			<% }) %>
			<tbody>
		</table>
	</div>
</div>
