<div class="row">
	<div class="col-md-12">

					<% scheduler.forEach(function(app) { %>
						<% if (app.type == "appointment" ) { %>
							<a class="appointment-slot <%= (app.appointments < app.maxAppointments) ? "free" : "full" %>"  href="#"
									data-max-appointments="<%= app.maxAppointments %>"
									data-taken-appointments="<%= app.appointments %>"
									data-total-taken-appointments="<%= takenAppointments %>"
									data-appointments-target="<%= settings.app_target %>"
									data-max-dist-from-call="<%= settings.dist_max_from_call %>"
									data-min-dist-from-call="<%= settings.dist_min_from_call %>"
									data-min-time-between-app="<%= settings.min_time_between_app %>"
									data-overbooking="<%= settings.overbooking %>"
									data-hour="<%= app.hour %>"
									data-minutes="<%= app.minutes %>"
									data-type="<%= app.type %>"
									data-app-duration="<%= settings.app_duration %>"
									data-agent="<%= app.agents[0] %>"
								>
										<p class="time"><%= app.hour %>:<%= app.minutes %></p>
										<span class="badge badge-success appointments"><%= app.appointments %>/<%= app.maxAppointments %></span>
									</a>
						<% } else { %>
							<a class="appointment-slot idle " href="#" onclick="return false">
								<p class="time"><%= app.hour %>:<%= app.minutes %></p>
								<span class="badge badge-danger appointments">Idle</span>
							</a>
						<% } %>
					<% }) %>
			
	</div>
	<div class="col-md-12">
		<button type="button" class="btn blue pull-right appointment-reset">Reset</button>
	</div>
</div>
